<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/images/logo.png" alt="Your Logo">
            </div>
            <!-- <div class="footer-nav">
                <ul class="footer-links">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                </ul>
            </div> -->
        </div>
        <div class="footer-bottom">
            <p>&copy; <%= new Date().getFullYear() %> The Daily Scoope. All Rights Reserved. Sandesh Pawar</p>
        </div>
    </footer>


</body>

</html>